/*
#mememaker {
    display: block;

    margin: 5% 10px 0 10px;

    font-size: 25px;
}
*/

#choose_style {
    margin-top: 30%;
    width: max-content;
}

#choose_style input[type=number]
{
    width: 100px;
}

#buildin_templates {
    position: absolute;
    background-color: blanchedalmond;
    width: 80%;
    height: 50%;
    padding: 0;

    left: 0;
    right: 0;
    margin: auto;

    z-index: 1;
    display: none;
    overflow: auto;
}

#buildin_templates img{
    padding: 10px;
    max-width: 25%;
    max-height: 200px;
    min-width: 20%;
    min-height: 100px;
    display: inline-block;
}